@charset "UTF-8";



body{
    background-color:  #77B899;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #16603D;
}

h1#pablito{
    color: white;
    text-align: center;
    background-color: #193327;
}

h2{
    color: #6DE3AC;
}

.facil{
    color: rgba(55, 135, 55, 0.515);
}

.medio{
    color: rgba(132, 135, 55, 0.515);
}

.dificil{
    color: rgba(135, 55, 55, 0.515);
}
